<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dumb Store</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <%= erb :navbar %>
  <div class="container">
    <h1>About the Dumb Store</h1>
    <p>We don't have smartphones. But we still want to pull information from the Internet on our dumb phones.</p>
    <p>The Dumb Store is a demonstration of what can be done using dumb phones. It's an exploration in resisting planned obsolescence and using current technology to its fullest capacity.
    <p>The Dumb Store will be an open platform for others to submit their dumbphone-compatible apps.</p>
    <p>We're excited for people to use it and make apps. <a href="https://twitter.com/dumbstore">Let us know</a> if you have questions.</p>

  
    <h3>Thanks</h3>
      <p>Chris Kairella and the <a href="http://www.itp-redial.com/">Redial: Interactive Telephony</a> class at <a href="itp.nyu.edu">ITP</a>.</p>
       <p><a href="http://www.bfbifocals.com/">Alex Tatusian</a> for general radness and logo design.</p>
       <h3>Authors</h3>
    <p><a href="http://allisonburtch.net/">Allison Burtch</a> and <a href="http://nas.sr">Ramsey Nasser</a> are nothing but trouble.</p>
  </div>
</body>
</html>