<html>
<head>
  <title>DUMBSTORE</title>
</head>
<body>
  <h1>THE DUMBSTORE OF DUMBAPPS FOR DUMBPHONES</h1>
  <h2>CALL OR TEXT +1 646-666-3536</h2>
  <h3>IT'S FUCKING DUMB</h3>
  <h4>LOVE, <a href="http://www.allisonburtch.net/">ALLISON</a> AND <a href="http://nas.sr/">RAMSEY</a></h4>
</body>
</html>