<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dumb Store</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
  <body>
  <%= erb :navbar %>
  <div class="container">
    <div class="hero-unit">
      <img src="/bootstrap/img/logo-01-01.png">
      <h2>The most inclusive mobile app platform. Ever.</h2>
      <p>All of our <a href="/apps">apps</a> can be accessed by calling or texting <a href="tel:1-646-666-3536">+1 646-666-3536</a>.</p>
    </div>

    <div class="row-fluid">
      <div class="hero-unit span6">
        <h2>Use apps</h2>
        <p>Any phone can use <a href="/apps">the apps</a> on the Dumb Store!</p>
        <h3>Voice</h3>
        <p>Call the Dumb Store and enter the ID of the app you want to use. Try calling and entering 37663 ('drone')</p>
        <h3>SMS</h3>
        <p>Send a text message to the Dumb Store with the ID of the app you want to use, followed by any additional text it may be expecting. Try texting <code>weather new york</code>! </p>
      </div>
      <div class="hero-unit span6">
        <h2>Make apps</h2>
        <p>Anyone can make a Dumb App!</p>
        <ol>
          <li>Fork the <a href="https://github.com/dumbstore/dumbstore">Dumb Store repository</a></li>
          <li>Implement your Dumb App in Ruby</li>
          <pre><code>class MyDumbApp < Dumbstore::App
  name 'The Dumbest App'
  author 'Dumbphone User
  
  text_id 'dumb'

  def text params
    "&lt;Response&gt;
      &lt;Sms&gt;So so so dumb&lt;/Sms&gt;
    &lt;/Response&gt;"
  end
end</code></pre>
          <li>Take out a <a href="https://help.github.com/articles/creating-a-pull-request">pull request</a></li>
        </ol>
        <p>Read our <a href="/documentation">documentation</a> for more information.</p>
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>