<html>
<head>
  <title>Dumb Store</title>
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Dumb Store</a>
    <ul class="nav">
      <li><a href="/Apps">Apps</a></li>
      <li><a href="#documentation"  data-toggle="modal">Documentation</a></li>
      <li><a href="#about" data-toggle="modal">About</a></li>
    </ul>
  </div>
</div>

<div id="documentation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
  <h4><p>Documentation</p></div></h4>
<div class="modal-body">
  Fork this shit on <a href="https://github.com/dumbstore/dumbstore">Github</a>.
  <p>
  Also, 
  <img src= "/bootstrap/img/magic.gif" width= "100%" height = "100%">
</div> 
</div>

<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
  <h4><p>About</p></div></h4>
<div class="modal-body">
  <p>We don't have smartphones. But we still want to check our email. </p>
  <p>The Dumb Store is a demonstration of what can be done using using cell phones, calling and texting. It's an exploration in resisting planned obsolescence and using current technology to its fullest capacity.
  <p>The Dumb Store will be an open platform for anyone to easily submit their dumbphone-compatible apps. Check out <a href="dumbsto.re/documentation">Documentation</a> for more information.</p>
  <p>

  <p>Final project for Chris Kairella's <a href="http://www.itp-redial.com/">Redial: Interactive Telephony</a> class at <a href="itp.nyu.edu">ITP</a>.</p>
  <p>Created by <a href="https://twitter.com/allisonburtch">Allison Burtch</a> and <a href ="https://twitter.com/aladameh">Ramsey Nasser</a>.</p></div>
</div> 




<div class="hero-unit">
  <h1>Dumb Store</h1>
  <h2>The most inclusive mobile app platform. Ever.</h2>
  <p>All of our apps can be accessed by calling or texting 646-666-3536.</p>
  <p>


  </p>
</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
