<div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/"><img src="/bootstrap/img/resized_logo.png" ></a>
      <ul class="nav">
        <li><a href="/apps">Apps</a></li>
        <li><a href="/documentation">Documentation</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
  <a href="https://github.com/dumbstore/Dumb"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>