<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/newuser" method="post">
    <h3>Email</h3><input type="text" name="email">
    <h3>Password</h3><input type="password" name="password">
    <h3>Phone Number</h3><input type="text" name="phonenumber">
    <input type="submit">
  </form>
</body>
</html>